# 重新建立一个非常保守的 .gitattributes
# 不写任何 eol，也不强制 text/binary，除了确实需要 binary 的类型

# 图片等资源文件
*.png     binary
*.jpg     binary
*.jpeg    binary
*.tga     binary
*.psd     binary
*.fbx     binary
*.unity   binary
*.prefab  binary
*.anim    binary
*.controller binary
*.ogg     binary
*.mp3     binary
*.wav     binary
*.dll     binary
*.exe     binary
*.apk     binary
*.aab     binary
*.ttf     binary
*.otf     binary
*.obj     binary